# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Node / misc (if any)
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

#Notes and other irrelevant files/docs
local_docs/
